//Bet your favourite format doesn't support useless comments.
//Vertex attributes (int-int)
#ATTRIBS
0-2,1-2,2-3
//Vertices. Separated by attribs with whitespace that will get deleted anyway
//(XY,UV,Normal)
#VERTICES
0,1 , 0,1 , -0.6,0,0.4
1,1 , 1,1 , 0.6 ,0,0.4
0,0 , 0,0 , -0.6,0,0.4
1,0 , 1,0 , 0.6 ,0,0.4
//Elements, forming triangles
#ELEMENTS
0,1,3
0,3,2